<!doctype html>
<html>
<head lang="en">
	<title>Photo</title>
</head>
<body>
	<div>Photo scoring app</div>
	  <form action="/image">

<!--     {% for s in string_x %}
        <br>
        {{ s }}
        <br>
        <input type="text" name="{{ s }}" value="{{x_input[loop.index0]}}">
    {% endfor %} -->
    <input type="text" name="txt"> 
    <br>
    <input type="submit" value="Submit" method="get">



  </form>

    <p>
    <!-- {% for r in rec %} -->
      <br>  {{rec}} <br> 
    <!-- {% endfor %} -->
  </p> 

</body>

</html>